<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        #video {
            width: 0%;
            height: auto;
        }
        #canvas {
            display: none;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body onload="getInfo()">
    <h1>Home</h1>
    <p>Take or upload a photo</p>
    <button id="upload-btn">Upload photo</button>
    <button id="take-btn">Use the camera</button>
    <button id="erase" style="display: none;">X</button>
    <div id="video-image-container">
        <video id="video" autoplay></video>
        <button id="capture-btn" style="display: none;">Take a photo</button>
        <canvas id="canvas"></canvas>
    </div>

    <img id="myImage" style="display: none;"/>
    <h4>Put your name here</h4>
    <input type="text" id="person_name">

    <div class="container" style="display: flex;">
        <button id="send" class="btn btn-primary">Send image</button>


        <form action="/logout" method="post">
            <button class="btn btn-primary">LogOut</button>
        </form>
    </div>

    <div>
     
            <select id="select-role" name="select-role">
                <option value="1" selected>Investigator</option>
                <option value="2">Receptionist</option>
                <option value="3">Personal Skills Trainer</option>
                <option value="4">Personal Assistant </option>
                <option value="5">University</option>
            </select>

            <button class="btn btn-primary" onclick="goToChat()">Go to chat</button>

    </div>

    <div class="recepcionist-div">
        <h4>Receptionist</h4>
        <p>Please insert down here the number of the apartment and the phone number related to the apartment. 
            You will need to provide the country code before the phone number but without the + sign. For example, Colombia code is +57, so you will need to write the number like <b>57xxxxxxxxx</b> </p>

            <label for="apartment-number">Number of the apartment:</label>
            <input type="text" id="apartment-number">
            <label for="apartment-phone">Phone number:</label>
            <input type="number" id="apartment-phone">
            <button class="btn btn-primary" id="send-apartment" onclick="sendApartment()" >Send</button>
        <h6> <b> Apartments registerd  </b> </h6>
        <div id="listApartments"></div>

        <h6> <b> Current reservations </b> </h6>
        <div id="listReservations"></div>

    </div>


    <div class="personal-div">
        <h4>Personal Assistant</h4>
        <p>Please insert down the name and the email of the person you want to save</p>

        <label for="person-name">Name:</label>
        <input type="text" id="person-name">
        <label for="person-email">Email:</label>
        <input type="email" id="person-email">
        <button class="btn btn-primary" id="send-person" onclick="sendEmailInfo()" >Send</button>
        <h6>People registered</h6>
        <div id="listPeopleEmail"></div>
        <p>If you want to change the email used for the personal assistant click here, 
            then go to the chat and call any of the functions to update the email</p>
        <button class="btn btn-primary" id="change-email" onclick="deleteEmail()" >Change email</button>

    </div>


    <script src="/static/check_login.js"></script>
    <script src="/static/camera.js"></script>
    <script src="/static/home.js"></script>
</body>
</html>