<!DOCTYPE html>
<html>
<head>
    <title>Naia - Inicio de sesión</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
    <div class="background-shapes">
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
    </div>
    <div class="container">
        <h1>NAIA</h1>
        <form method="post" action="/login">
            <button type="submit" class="login-btn">
                <img src="../static/img/gmail.png" alt="Gmail Logo">
                <span>Log in with Gmail</span>
            </button>
        </form>
    </div>
</body>
</html>